.middle {
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    background-color: #666;
}

footer {
  display: flex;
  background-color: #333645;
  color: #fff;
  font-family: sans-serif;
  font-size:16px;
  padding-top: 10px;
  margin-top: 10px;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: row;
  text-decoration: none;
}

.services {
    display: flex; 
    box-sizing: border-box;
    text-decoration: none;
}


.offices {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    text-decoration: none;
}

.service {
    display: block; 
    box-sizing: border-box;
    text-decoration: none;
}


.office {
    display: block;
    box-sizing: border-box;
    flex-direction: row;
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
    
}

.lisense {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    text-decoration: none;

}

a:link    { color: #fff; text-decoration: none; }
a:visited { color: #fff; text-decoration: none; }
a:hover   { color: #fff; text-decoration: none; }
a:active  { color: #fff; text-decoration: none; }

