.header { 
    display: flex;
    width: 100%;
    justify-content: space-between;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    background-color: #666;
    padding: 50px 0 50px;

}

.container {
    width: 70%;
    margin: 0 auto;
}

.serviceblock {
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    position: relative;
    top: 0;

}

.col4 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: block;
    color: ;

}


.sign-up {
    background: #dddddd;
    fill: #666666;
    box-sizing: border-box;
    margin: 30px auto 15px;
    padding: 50px 0;
    display:flex;
    flex-direction: column;
    }
    
    .form-group {
    
        display: flex;
    }

    .privacy-button {
        display:flex;
    }


footer {
  display: flex;
  flex-direction: column;
  background-color: #333645;
  color: #fff;
  font-family: sans-serif;
  font-size:16px;
  padding: 47px 0 43px;
  justify-content: space-between;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.42857143;
  font-size: 1rem;
  display:flex;
  width: 70%;
  margin: 0 auto;
}

.footer-box {
  display:flex;
  flex-direction: row;
    width: 100%;
  margin: 0 auto;
}

.bottom-box {
    display: flex;
    margin: auto;
}

.services {
    display: flex; 
    box-sizing: border-box;
    text-decoration: none;
}


.offices {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    text-decoration: none;
}

.service {
    display: block; 
    box-sizing: border-box;
    text-decoration: none;
}


.office {
    display: block;
    box-sizing: border-box;
    flex-direction: row;
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
    
}

.lisense {
    display: flex;
    box-sizing: border-box;
    text-decoration: none;

}

.social-media {
  display: flex;

}

